h1, h3, h4, figcaption {
    text-align: center;
  
  }
  body {
    background: linear-gradient(to top right, hwb(0 0% 100%) 0%, #ffffff 60%);
    margin: 2em 10em 2em 10em;
    border: 1px solid white;
    min-width: 320px;
  }
  img {
  
    width: auto;
    max-width: 40%;
    min-width: 35%;
    display: block;
    margin: auto;
  
  }
  footer {
    padding-top: 5em;
  }
  #tribute-info {
    display: block;
    min-width: 300px;
  }
  p, ul {
    padding-left: 2em;
    padding-right: 2em;
  }
  
  h1, h4, figcaption {
  color: purple;
  }
  h3 {
    color: #3e3b6b;
  }